

.App {
  padding: 96px 98px 92px 98px;
  width: 760px;
  height: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}


  